@import "tailwindcss";

:root {
  --secondary-color: #f5f5f5;
  --myred: #db4444;
  --secondary2-text: #d37643;
  --neutral-color: #7c818e;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.cat:hover {
  color: white;
  background-color: var(--myred);
}

.title {
  @apply text-4xl pb-2;
}

.rectangle {
  width: 20px;
  height: 40px;
  background-color: var(--myred);
  border-radius: 5px;
}

.fancy-title {
  color: var(--myred);
  font-weight: 600;
}

.timer {
  .colan {
    font-size: 30px;
    color: var(--myred);
  }

  .time {
    font-size: 30px;
  }
}

.price {
  color: var(--myred);
  @apply mr-4;
}

.old-price {
  text-decoration: line-through;
  @apply text-gray-500;
}

.rating {
  @apply text-gray-500;
}

.rounded-arrows {
  @apply bg-[var(--secondary-color)] text-4xl px-3 py-2 rounded-[50%];
}

.add-to-cart-btn {
  transition: all 0.3s ease;
  @apply text-white bg-black px-1 py-2 translate-y-full text-center w-full left-0 bottom-0 absolute;
}

.productitem:hover .add-to-cart-btn {
  @apply translate-y-0;
}

.arrival-section {
  display: grid;
  grid:
    "image1 image1 image2 image2"
    "image1 image1 image3 image4";
  gap: 4px;
}

.image1 {
  grid-area: image1;
}
.image2 {
  grid-area: image2;
}
.image3 {
  grid-area: image3;
}
.image4 {
  grid-area: image4;
}

footer{
  .group-title{
    @apply mb-4;
  }
  ul{
    @apply flex flex-col gap-2;
  }
}

/* Add this to your global CSS */
.swiper-pagination-bullet {
  @apply bg-gray-400 w-3 h-3 mx-1 rounded-full opacity-50;
}
.swiper-pagination-bullet-active {
  @apply bg-red-500 opacity-100;
}
